// .dashboard {
//    background-color: #2c7873a6;
// }

.tab-content {
  margin: 10px 0px;
  &.active {
    // display:block;
  }
}

.fc-toolbar.fc-header-toolbar {
    margin: 0 auto;
  }

.tabs {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  background: $yup-light-green;
  margin: 20px auto;
  border-radius: 50px;
  width: 80%;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

#potager {
  border-radius: 50px 0 0 50px;
}

#library {
  border-radius: 0px 50px 50px 0;
}

.tab {
  padding: 10px;
  margin: 0px;
  width: 33.333%;
  transition: all 0.7s ease;
  &.active {
    background: $yup_yellow;
    color: black;
    font-weight: bold;
  }
}

#my-planters-title {
  font-size: 40px;
  padding-left: 23px;
  color: $yup-green;
}

