// Specific CSS for your home-page
.home-bg {
   background-color: #F9F9F9;
}


.banner {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 15px 50px;
  }
}

.howitworks {
  padding: 20px 0;
  h1 {
    color: $yup-green;
    font-size: 40px;
  }
  p {
    font-size: 18px;
   }
  }

.home-cards {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-card {
  text-align: center;
  margin-bottom: 20px;
}

.home-card img {
  height: 150px;
  width: auto;
  color: $yup-green;
}
