<div class="footer" style= "<%= current_page?('/') ? 'background: #F9F9F9' : 'background: transparent' %>">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
</div>





