<%#= simple_form_for :search_by_veggy_and_season, url: dashboard_path, method: :get, remote: true do |f| %>
  <%#= f.input :query, class: "form-control", placeholder:"Find a veggy" %>
  <%#= f.submit "Search", class: "btn btn-primary" %>
<%# end %>

<%= form_tag dashboard_path, method: :get, remote: true do %>
  <%= text_field_tag :query,
  params[:query],
  placeholder: 'Search veggies' %>
  <%= submit_tag 'Search' %>
<% end %>

<div class="cards-library">
  <%= render 'veggies_result', veggies: @veggies %>
</div>
