<div class="planters mt-5 mb-3">
  <div class="d-flex justify-content-between mb-4">
    <h2>My planters</h2>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-planter-modal">
      Add new Planter
    </button>
    <!-- Modal -->
    <div class="modal fade" id="new-planter-modal" tabindex="-1" role="dialog" aria-labelledby="new-planter-modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="modal-form" class="modal-content">
          <%= render 'new_planter', new_planter: @planter %>
        </div>
      </div>
    </div>

  </div>
  <div id="planter-list">
    <% if @planters.count == 0 %>
      <%= cl_image_tag("map_to_garden_xkcfly", id:"map_to_garden", class: "w-100") %>
    <% else %>
      <% @planters.each do |planter| %>
        <%= render 'planter_list', planter: planter %>
      <% end %>
    <% end %>

  </div>
</div>
