<div class="dashboard">
  <div class="tabs container">
    <div class="tab active">
      My potager
    </div>
    <div class="tab">
      Calendar
    </div>
    <div class="tab">
      Veggie library
    </div>
  </div>

  <div class="tabs-contents">
    <div class="tab-content potager active">
      <div class="planters">
        <h2>My potager</h2>

      </div>
      <div class="todo-list">
        <h2>My todo list</h2>
      </div>
    </div>
    <div class="tab-content calendar">
      <h2>My calendar</h2>
    </div>
    <div class="tab-content library">
      <h2>My calendar</h2>
    </div>
  </div>
</div>
