<div class="container">
  <div class="tabs">
    <div class="tab active">
      My potager
    </div>
    <div class="tab">
      Calendar
    </div>
    <div class="tab">
      Veggie library
    </div>
  </div>

  <div class="tabs-contents">
    <div class="tab-content d-flex justify-content-between active">
      <%= render 'planters' %>
      <div class="todo-list col-3">
        <h2>My todo list</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, sapiente, fugit. Optio iure labore neque iusto quibusdam, doloremque minus nostrum dolorum quo sed vitae debitis ipsam impedit id architecto a.</p>
      </div>
    </div>
    <div class="tab-content calendar">
      <h2>My calendar</h2>
    </div>
    <div class="tab-content library">
      <h2>My calendar</h2>
    </div>
  </div>
</div>

<!-- Edit modal -->

