
<div class="container dashboard">
  <div class="tabs">
    <div id='potager' class="tab active">
      My potager
    </div>
    <div id='calentab' class="tab">
      Calendar
    </div>
    <div id='library' class="tab">
      Veggie library
    </div>
  </div>

  <div class="tabs-contents">
    <div id='potager-content' class="tab-content">
      <%= render 'planters' %>
      <%= render 'todolist' %>
    </div>
    <div id='calentab-content' class="tab-content todolist">
      <h2>My calendar</h2>
        <%= render 'calendar' %>
    </div>
    <div id='library-content' class="tab-content library">
      <%= render 'library' %>
    </div>
  </div>
</div>
