
<div class="container dashboard">
  <div class="tabs">
    <div id='potager' class="tab active">
      My potager
    </div>
    <div id='calentab' class="tab">
      Calendar
    </div>
    <div id='library' class="tab">
      Veggie library
    </div>
  </div>

  <div class="tabs-contents">
    <div id='potager-content' class="tab-content">
      <div class="row d-flex">
        <div class="col-sm-12 col-md-8">
          <%= render 'planters' %>
        </div>
        <div class="col-sm-12 col-md-4 mt-5 mb-3">
          <div class=todo-layout>
            <%= render 'todolist' %>
          </div>
        </div>
      </div>
    </div>
    <div id='calentab-content' class="tab-content card-calendar d-none calendar">
        <%= render 'calendar' %>
    </div>
    <div id='library-content' class="tab-content d-none library">
      <%= render 'library' %>
    </div>
  </div>
</div>


