<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.food52.com/r0cQCla_56j45Y8KwS9YSEBBYLc=/2000x2000/2bf98408-a402-4327-ac29-352049fa3062--2016-0330_modern-sprout_eco-planter-herb-kits_mid_alpha-smoot_229.jpg);">
  <div class="container d-flex justify-content-between align-items-center">
  <div class="title">
    <h1>Yup, your urban potager!</h1>
    <p>Easily grow your vegetables in your apartment.</p>
  </div>
  <div class="signup-form">
    <%= render 'home_signup_form' %>
  </div>
  </div>
</div>

<div class="container mt-3">
  <h2>How it works</h2>
  <div>
  </div>
</div>
