<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="title">
    <h1>Yup, your urban potager!</h1>
    <p>Easily grow your vegetables in your apartment.</p>
  </div>
  <div class="signup-form">
    <%= render 'home_signup_form' %>
  </div>
</div>
