

  .tabs a {
    text-decoration: none;
    color: white;
  }

.calstyle {
  color: white;
   &:hover {
    color: white;
  }
}



.fc-list-item {

  &:hover {
    cursor: pointer;
  }
}

.fc-unthemed .fc-list-view {
  border-color: #1B4445 !important;
}


.todo-list {
  border: 1px solid black;
  margin: 0 auto;
}

.fc {
  margin-top: 35px;
  font-size: 1em;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.todo-layout {
  border-radius: 5px;
  padding: 12px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3)
}

#todolist .fc-button {
  padding: 0;
}

#todolist .fc-toolbar h2 {
  font-size: 16px;
}

.fc-list-heading-alt {
  display: none !important;
  }

.fc-unthemed .fc-list-heading td  {
  background-color: #e5e5e8 !important;
  }

.fc-toolbar {
  padding-top: 8px;
}

.fas.fa-check.light {
  color: #C2C2C2;
}

.todo-layout {
  margin-top: 10px;
  border-radius: 5px;
  padding: 0px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 20px;
}

#todolist .fc-scroller {
  overflow: hidden auto !important;
  height: 600px !important;
}

#todolist .fc-list-view {
  height: 600px;
}
