#planter_name {
    // text-align: center;
    // width: 50%;
}

legend {
    display: none;
}

#new_planter label[for="planter_name"]{
  display:none;
}
#new_planter input[type="radio"] {
    // opacity: 0;
    margin: 10px;
}

#new_planter input[type="radio"] + label[for="planter_sun_full_sun"] {
    background-image: url(full-sun.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}

#new_planter input[type="radio"] + label[for="planter_sun_part_sun"] {
    background-image: url(part-sun.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}

#new_planter input[type="radio"] + label[for="planter_sun_full_shade"] {
    background-image: url(full-shade.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}

#new_planter input[type="radio"] + label[for="planter_size_pot"] {
    background-image: url(pot.jpg);
    background-size: cover;
    width: 25px;
    height: 25px;
}

#new_planter input[type="radio"] + label[for="planter_size_small_planter"] {
    background-image: url(planter.jpg);
    background-size: cover;
    width: 40px;
    height: 40px;
}

#new_planter input[type="radio"] + label[for="planter_size_large_planter"] {
    background-image: url(planter-large.jpg);
    background-size: cover;
    width: 50px;
    height: 50px;
}

#new_planter input[type="radio"] + label {
    // background: coral;
    display: inline-block;
    width: 60px;
    height: 60px;
    color: transparent;
}

#new_planter input[type="radio"] + label[for="planter_color_ff6978"] {
    background: #ff6978;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: transparent;
}

#new_planter input[type="radio"] + label[for="planter_color_b1ede8"] {
    background: #b1ede8;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: transparent;
}

// #new_planter input[type="radio"] + label[for="planter_color_b9929f"] {
//     background: #b9929f;
//     display: inline-block;
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
//     color: transparent;
// }

#new_planter input[type="radio"] + label[for="planter_color_ffe1a8"] {
    background: #ffe1a8;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: transparent;
}

#new_planter input[type="radio"] + label[for="planter_color_dbb1bc"] {
    background: #dbb1bc;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: transparent;
}
