.navbar-lewagon {
  justify-content: space-between;
  background: none;
  position: relative;
  top: 5px;
  width: 100vw;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand h1 {
  font-size: 50px;
  color: white;
  left: 15px;
  top: -8px;
  text-shadow: 1px 2px 8px #000000A1;
  transform: rotate(-5deg);
  transition: all 0.2s ease-out;
}

.fa-shopping-cart {
  color: $yup-yellow;
  font-size: 20px;
}

#cart-icon {
  // position: absolute;
}

#cart-count {
  position: relative;
  top: -10px;
  left: -12px;
  background: white;
  color: $yup-green;
  border-radius: 50%;
  font-size: 10px;
  width: 13px;
  line-height: 13px;
  text-align: center;
}

.navbar-brand h1 {
  &:hover {
    cursor: pointer;
    transform: scale(1.05) rotate(-5deg);
    transition: all 0.2s ease-in;
    text-shadow: 5px 6px 10px black;
  }
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid white;
  border-right: 0.3em solid rgba(255, 255, 255, 0);
  border-bottom: 0;
  border-left: 0.3em solid #ce121200;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
