.navbar-lewagon {
  justify-content: space-between;
  background: $yup-green;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand h1 {
  font-size: 60px;
  color: white;
  left: 15px;
  top: -17px;
  text-shadow: 2px 3px 5px #004445;
  transform: rotate(-5deg);
}

.fa-shopping-cart {
  color: $yup-yellow;
}

.yup-logo {}

