.search-bar .submit {
  width: 100px;
  border-radius: 14px;
  background-color: $yup_yellow;
  font-weight: bold;
  font-family: lobster;

}

.search-bar .text {
  width: 250px;
  padding-left: 10px;
  border-radius: 14px;
  border: $yup_yellow 2px solid;
  text-align: center;

}

