.fc-list-item {

  &:hover {
    cursor: pointer;
  }
}

.fc-unthemed .fc-list-view {
  border-color: #1B4445 !important;
}

// .fc-toolbar.fc-header-toolbar {
//       width:auto;
// }

.todo-layout {
  border-radius: 5px;
  padding: 12px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3)
}

#todolist .fc-button {
  padding: 0;
}

#todolist .fc-toolbar h2 {
  font-size: 16px;
}

.fc-toolbar {
  padding-top: 8px;
}
// .spfont {
//   font-size: 8px !important;
// }
// .todo-layout {
//   background-color: #2c7873;
// }
